.container{
    text-align: center;
    margin-top: 20px;
}
table{
    margin: auto;
}
input{
    border: 5px solid grey;
    border-radius: 15px;
    font-size: 30px;
}
button{
    border-radius: 15px;
    font-size: 35px;
    background: rgb(202, 142, 142);
    width: 79px;
    height: 60px;
}
.calculator{
    display: inline-block;
    background-color: rgb(59, 5, 59);
    padding: 23px;
    border-radius: 48px;

    
}